# Dependency directories
node_modules
/dist
public/fonts

# Version control and IDEs
.git
.github
.vscode

# Build outputs
*.min.js
*.min.css

# Logs
logs
*.log

# Environment files
.env
.env.*

/.pnpm-store/
.pnpm-lock.yaml
