@import './colours.css';
@import './variables.css';

/* Only for storybook */
.__sb_preview_background.dark {
  background-color: rgb(55, 65, 81);
}

/* Apply this to your body or wrapper class for use with services-ui elements (temp) */
.services-ui-base {
  font-family: 'Inter', 'sans-serif';
  font-size: 0.8125rem;
}

.dark {
  .services-ui-base {
    color: var(--txt-colour);
  }
}

.is-light-mode {
  display: block;
}

.is-dark-mode {
  display: none;
}

.dark {
  .is-light-mode {
    display: none;
  }

  .is-dark-mode {
    display: block;
  }
}

.modal-active {
  overflow: hidden;
}
