@import './colours.css';
/*@import './fonts.css';*/
@import './variables.css';

/* Apply this to your body or wrapper class for use with services-ui elements (temp) */
.services-ui-base {
  font-family: 'Inter', 'sans-serif';
  font-size: 0.8125rem;
}

.is-light-mode {
  display: block;
}

.is-dark-mode {
  display: none;
}

.dark {
  .is-light-mode {
    display: none;
  }

  .is-dark-mode {
    display: block;
  }
}

.modal-active {
  overflow: hidden;
}
