html {
  --border-radius: 0.5rem; /* 8px */
  --txt-default: 0.875rem; /* 14px */
  --txt-input: var(--txt-default); /* 14px */
  --line-height-input: 1.25rem; /* 20px */
  --font-sans: 'Inter', 'sans-serif';

  /* Some elements are stubborn so we need to force the color there */
  --txt-colour: var(--colour-ti-base);

  --transition-timing-function: initial;
  --transition-duration: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    --transition-timing-function: ease-in-out;
    --transition-duration: 250ms;
  }
}
